/* Font*/

@font-face {
font-family: 'bad_grunge';
src: url('Lobster_1.3.otf') format('opentype');
}
@font-face {
font-family: 'voila';
src: url('Adventure.otf') format('opentype');
}

/* général */

body {
  font-family: voila;
  background-image: url(images/green.jpg);
  background-repeat: no-repeat;
  background-position: -20px center;
  background-size: 120% 200%;
  margin: 0 15%;
  text-rendering: optimizelegibility;
}


h1, h2 {
font-family: bad_grunge;

}


img .photo{
  float: left;
}
.slideClick {
  width: 25%;
}

p, tr {}

